input {
  border: solid 1px black;
}

header {
  width: 1000px;
  margin: 0 auto;
  background-color: #ddd;
  padding: 1rem;
  text-align: center;
}

main {
  width: 1000px;
  margin: 0 auto;
  background-color: #ddd;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.items {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
}

.info-container {
}

.item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid red;
  padding: 0.5rem;

  div {
    padding: 0 1rem;
    margin: 0 0.5rem;
  }

  .name {
    width: 10rem;
    border: 1px solid red;
    margin: 0 1rem;
  }
  .unit-price {
    width: 5rem;
    border: 1px solid red;
    margin: 0 1rem;
    text-align: center;
  }

   .i-qty{
    width: 3rem;
    border: 1px solid red;
    text-align: center;
  }

  .subtotal-price{
    width: 5rem;
    border: 1px solid red;
    text-align: right;
  }
}

.row {
}

.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn{
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.create{
  color:#000;
  background-color: #fff;
  border-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-delete {
  color: #fff;
  background-color: #cf000f;
  border-color: #cf000f;
}

.col-xs-2 {
}

.col-xs-3 {
}

.col-xs-5 {
}

.col-xs-4 {
}

.col-xs-7 {
}